*{
 box-sizing: border-box;
 margin: 0;
}

h1, h3 {
 text-align: center;
}


#one {
background-color: gray;
padding 10px 10px 10px 10px;
border: 1px solid black;
margin: 10px;
height: 150px;
float: left;
}


#chicken {
background-color: pink;
border: 1px solid black;
width: 30%;
position: relative;
left: 70%;
}


#two {
background-color: gray;
padding 10px 10px 10px 10px;
border: 1px solid black;
margin: 10px;
height: 150px;
float: left;
}

#beef {
color: white;
background-color: red;
border: 1px solid black;
width: 30%;
position: relative;
left: 70%;
}

#three {
background-color: gray;
padding 10px 10px 10px 10px;
border: 1px solid black;
margin: 10px;
height: 150px;
float: left;
}

#sushi {
color: black;
background-color: yellow;
border: 1px solid black;
width: 30%;
position: relative;
left: 70%;
}

/****** Desktop devices only ****/
@media (min-width: 992px) {
#one{
width: 30%;
 }
#two{
width: 30%;
 }
#three{
width: 30%;
 }
}


/****** Tablet devices only ****/
@media (min-width: 768px) and (max-width: 991px) {
#one{
width: 47%;
}
#two{
width: 47%;
  }
#three{
width: 97%;
 }
}


/****** Mobile devices only ****/
@media (max-width: 767px) {
#one{
float:left;
width: 90%;
}
#two{
float:left;
width: 90%;
  }
#three{
float:left;
width: 90%;
 }
}

